<!-- <main class="container-fluid w-100 min-vh-100">
    <div class="row min-vh-100">
        <div class="col"></div>
        <div class="col-6 col-md-6 justify-content-center">
            <div class="d-flex justify-content-center">
                <h1 class="align-middle">Esta página no existe....</h1>
            </div>
        </div>
        <div class="col"></div>
    </div>
</main> -->

<main class="container-fluid init vh-100 bg-danger-light">
    <div class="row h-100">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="align-self-center">
                <div class="text-center text-uppercase">
                    <h1 class="text-danger">Esta página no existe....</h1>
                    <a class="btn" routerLink="/horarios">Volver a la principal</a>
                </div>
            </div>
        </div>
    </div>
</main>
