<header class="container-fluid bg-light sticky-top">
    <div class="align-items-center col-auto col-md col-sm-8 d-flex p-0">
        <nav class="navbar navbar-expand navbar-light ">
            <a class="navbar-brand" routerLink="/horarios/eb5094069f5e287ad7cfce5fc944f1c6565da2481af83fd5c24568e2481d09e3" [class.text-uppercase.font-weight-bold]="selected === 'eb5094069f5e287ad7cfce5fc944f1c6565da2481af83fd5c24568e2481d09e3'">Isabel</a>
            <a class="navbar-brand" routerLink="/horarios/c9fd92c735c7609969a0ab48b6dc2fda85a06e135196571c06708222baf5a2e7" [class.text-uppercase.font-weight-bold]="selected === 'c9fd92c735c7609969a0ab48b6dc2fda85a06e135196571c06708222baf5a2e7'">Rodrigo</a>
        </nav>
    </div>
</header>
