<header class="container-fluid bg-light sticky-top text-white">
    <div class="align-items-center col justify">
        <div ngbDropdown class="d-inline-block ">
            <button type="button" class="btn text-bg-primary rounded-0" id="dropdownHorarios" ngbDropdownToggle>
                Horarios
            </button>
            <div class="text-bg-primary" ngbDropdownMenu aria-labelledby="dropdownHorarios">
                <button *ngFor="let item of horarios" ngbDropdownItem [routerLink]="'/horarios/'+item.link"
                    [class.itemSelected]="itemSelected === item.link">{{item.nombre}}</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block ">
            <button type="button" class="btn text-bg-primary rounded-0" id="dropdownDietas" ngbDropdownToggle>
                Dietas
            </button>
            <div class="text-bg-primary" ngbDropdownMenu aria-labelledby="dropdownDietas">
                <button *ngFor="let item of dietas" ngbDropdownItem [routerLink]="'/dietas/'+item.link"
                    [class.itemSelected]="itemSelected === item.link">{{item.nombre}}</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block ">
            <button type="button" class="btn text-bg-primary rounded-0" id="dropdownAsignaturas" ngbDropdownToggle>
                Quimica
            </button>
            <div class="text-bg-primary" ngbDropdownMenu aria-labelledby="dropdownAsignaturas">
                <button ngbDropdownItem routerLink="/quimica/ejercicios/valencias"
                    [class.itemSelected]="itemSelected === 'quimica_ejerciocios'">Ejercicios de valencias</button>
            </div>
        </div>
    </div>
</header>