<app-header [selected]="selected"></app-header>
<main class="container-fluid py-5">
    <div class="row h-100">
        <div class="col"></div>
        <div class="col-12 col-md-9 justify-content-center">
            <div *ngIf="!!dieta" class="align-self-center">
                <app-dieta [dieta]="dieta" [id]="id"></app-dieta>
            </div>
            <div *ngIf="!dieta" class="align-self-center">
                <p class="text-center h1 mt-5 pt-5">
                    No se ha encontrado la dieta
                </p>
            </div>
        </div>
        <div class="col"></div>
    </div>
</main>