<app-header [selected]="selected"></app-header>
<main class="container-fluid">
    <div class="row h-100">
        <div class="col">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1" [disabled]="this.intentando==true">
                    <a ngbNavLink>Resumen</a>
                    <ng-template ngbNavContent class="pt-5">
                        <div class="container mt-5">
                            <div class="row justify-content-md-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <table class="table ">
                                        <tbody>
                                            <tr class="table-primary">
                                                <td>
                                                    Intentos
                                                </td>
                                                <td>
                                                    {{data.intentos}}
                                                </td>
                                            </tr>
                                            <tr class="table-success">
                                                <td>
                                                    Superados
                                                </td>
                                                <td>
                                                    {{data.superados}}
                                                </td>
                                            </tr>
                                            <tr class="table-danger">
                                                <td>
                                                    Fallados
                                                </td>
                                                <td>
                                                    {{data.fallados}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Intentar</a>
                    <ng-template ngbNavContent>
                        <valencias-intento (isIntentando)="isIntentando($event)"
                            (intentoAcabado)="guardarIntento($event)"></valencias-intento>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3" [disabled]="this.intentando==true">
                    <a ngbNavLink>Elementos</a>
                    <ng-template ngbNavContent>
                        <div class="container ">
                            <div class="row justify-content-md-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Elemento</th>
                                                <th scope="col">Simbolo</th>
                                                <th scope="col">Valencias</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of elementos">
                                                <td>{{item.nombre}}</td>
                                                <td>{{item.elemento}}</td>
                                                <td>{{item.valencias.toString()}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>
    </div>
</main>