table {
    cursor: default;
    table-layout: fixed;

    tr {

        th:first-child {
            width: 100px;
        }

        th,
        td:first-child {
            font-size: 1.5rem;
        }

        td {
            font-weight: bold;
        }

        td.color-1 {
            background-color: #f57676;
        }

        td.color-2 {
            background-color: #f5a776;
        }

        td.color-3 {
            background-color: #f5ef76;
        }

        td.color-4 {
            background-color: #c4f576;
        }

        td.color-5 {
            background-color: #85f576;
        }

        td.color-6 {
            background-color: #76f5be;
        }

        td.color-7 {
            background-color: #76def5;
        }

        td.color-8 {
            background-color: #76a7f5;
        }

        td.color-9 {
            background-color: #7c76f5;
        }

        td.color-10 {
            background-color: #ba76f5;
        }

        td.color-11 {
            background-color: #f576f5;
        }

    }
}

@media (max-width: 576px) {

    th,
    td:first-child {
        font-size: .8rem !important;
    }

    td.datos {
        font-size: .5rem;
    }
}

@media (max-width: 1200px) {

    th,
    td:first-child {
        font-size: 1rem !important;
    }

    td.datos {
        font-size: 0.8rem;
    }
}