<main class="container-fluid px-0">
    <div class="table-responsive">
        <table *ngIf="horario && horario.length>0" class="table text-uppercase">
            <tr>
                <th scope="col" class="py-2 text-center text-bg-primary ">#</th>
                <th scope="col" class="py-2 text-center text-bg-primary">LUNES</th>
                <th scope="col" class="py-2 text-center text-bg-primary">MARTES</th>
                <th scope="col" class="py-2 text-center text-bg-primary">MIÉRCOLES</th>
                <th scope="col" class="py-2 text-center text-bg-primary">JUEVES</th>
                <th scope="col" class="py-2 text-center text-bg-primary">VIERNES</th>
                <th *ngIf="horario[0].values.length>5" scope="col" class="py-2 text-center text-bg-primary">
                    SABADO</th>
                <th *ngIf="horario[0].values.length>6" scope="col" class="py-2 text-center text-bg-primary">
                    DOMINGO</th>
            </tr>
            <tr *ngFor="let row of horario" class="">
                <th scope="row" class="py-3 text-center text-bg-primary">
                    {{row.time.substring(0,2)+":"+row.time.substring(2,4)}}
                </th>
                <td *ngFor="let value of row.values" class="px-2 datos border-start" [ngClass]="{'bg-grey text-white-50':value=='recreo',
            'color-1':value.toLowerCase()=='dibujo técnico' || value.toUpperCase()=='DEI',
            'color-2':value.toLowerCase()=='inglés' || value.toUpperCase()=='APS',
            'color-3':value.toLowerCase()=='francés' || value.toUpperCase()=='ECO',
            'color-4':value.toLowerCase()=='',
            'color-5':value.toLowerCase()=='lengua' || value.toUpperCase()=='PAX',
            'color-6':value.toLowerCase()=='matemáticas' || value.toUpperCase()=='ING',
            'color-7':value.toLowerCase()=='filosofía' || value.toUpperCase()=='FOL',
            'color-8':value.toLowerCase()=='física y química' || value.toUpperCase()=='DCM',
            'color-9':value.toLowerCase()=='educación física',
            'color-10':value.toLowerCase()=='',
            'color-11':value.toLowerCase()==''}">
                    {{value}}
                </td>
            </tr>
        </table>
    </div>
</main>