<main *ngIf="_dieta != undefined" class="container-fluid px-0">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="h3">
                {{_dieta.nombre}}
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="float-end">
                <p *ngIf="_dieta.hasOwnProperty('semanas')" class="d-inline-block pe-5">Semana:</p>
                <p *ngIf="_dieta.hasOwnProperty('dias')" class="d-inline-block pe-5">Dia:</p>
                <div class="d-inline-block">
                    <nav aria-label="Page navigation semanas">
                        <ul class="pagination">
                            <li class="page-item" [class.disabled]="currentSelected==0">
                                <div class="page-link cursor-default text-center" (click)="arrayTo(0)">&lt;&lt;</div>
                            </li>
                            <li class="page-item" [class.disabled]="currentSelected==0">
                                <div class="page-link cursor-default text-center" (click)="arrayTo(currentSelected-1)">&lt;</div>
                            </li>
                            <li *ngFor="let item of array; let i = index" class="page-item"
                                [class.d-none]="i<show.min || i > show.max">
                                <div class="page-link cursor-default text-center" [class.active]="i==currentSelected"
                                    (click)="arrayTo(i)">{{i+1}}</div>
                            </li>
                            <li class="page-item" [class.disabled]="currentSelected==array.length-1">
                                <div class="page-link cursor-default text-center" (click)="arrayTo(currentSelected+1)">&gt;</div>
                            </li>
                            <li class="page-item" [class.disabled]="currentSelected==array.length-1">
                                <div class="page-link cursor-default text-center" (click)="arrayTo(array.length-1)">&gt;&gt;</div>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <div *ngIf="currentItem != null" class="row">
        <div *ngIf="_dieta.hasOwnProperty('semanas')" class="col-12">
            <ngb-accordion #acc="ngbAccordion" activeIds="comidas" [closeOthers]="true">
                <ngb-panel id="aldia" title="Para comer durante todo el día">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngFor="let item of currentItem.aldia" class="list-group-item">
                                {{item}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>

                <ngb-panel id="libres" title="Alimentos libres">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li class="list-group-item">
                                {{currentItem.libres}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>

                <ngb-panel titl id="nolibres" title="Alimentos no libres">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li class="list-group-item">
                                {{currentItem.nolibres}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>

                <ngb-panel id="comidas" title="Comidas">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngIf="currentItem.comidasNotas && currentItem.comidasNotas.length>0"
                                class="list-group-item d-flex justify-content-start align-items-center disabled">
                                <p class="m-0">{{currentItem.comidasNotas}}</p>
                            </li>
                            <li *ngFor="let item of currentItem.comidas"
                                class="list-group-item d-flex justify-content-start align-items-center">
                                <p class="m-0 pe-3 pe-md-5 text-bold">
                                    {{item.repeticiones}}
                                </p>
                                <div>
                                    <div *ngFor="let comida of item.platos">
                                        {{comida}}
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>

                <ngb-panel id="cenas" title="Cenas">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngIf="currentItem.cenasNotas"
                                class="list-group-item d-flex justify-content-start align-items-center disabled">
                                <p class="m-0">{{currentItem.cenasNotas}}</p>
                            </li>
                            <li *ngFor="let item of currentItem.cenas"
                                class="list-group-item d-flex justify-content-start align-items-center">
                                <p class="m-0 pe-3 pe-md-5 text-bold">
                                    {{item.repeticiones}}
                                </p>
                                <div>
                                    <div *ngFor="let cena of item.platos">
                                        {{cena}}
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>

            </ngb-accordion>
        </div>
        <div *ngIf="_dieta.hasOwnProperty('dias')" class="col-12">
    
            <ngb-accordion #acc="ngbAccordion" activeIds="comida,cena" [closeOthers]="false">
                <ngb-panel *ngIf="_dieta.hasOwnProperty('notas')" id="notas" title="Notas">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngFor="let item of _dieta.notas" class="list-group-item">
                                {{item}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel *ngIf="_dieta.hasOwnProperty('desayuno')" id="desayuno" title="Desayuno">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngFor="let item of _dieta.desayuno" class="list-group-item">
                                {{item}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel *ngIf="_dieta.hasOwnProperty('merienda')" id="merienda" title="Merienda">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngFor="let item of _dieta.merienda" class="list-group-item">
                                {{item}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="desayuno" title="Desayuno">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngFor="let item of currentItem.desayuno" class="list-group-item">
                                {{item}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="comida" title="Comida">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngFor="let item of currentItem.comida" class="list-group-item">
                                {{item}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="cena" title="Cena">
                    <ng-template ngbPanelContent>
                        <ul class="list-group">
                            <li *ngFor="let item of currentItem.cena" class="list-group-item">
                                {{item}}
                            </li>
                        </ul>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</main>