<main *ngIf="_dieta != undefined" class="container-fluid px-0">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="h3">
                {{_dieta.nombre}}
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="float-end">
                <p *ngIf="_dieta.hasOwnProperty('semanas')" class="d-inline-block pe-5">Semana:</p>
                <p *ngIf="_dieta.hasOwnProperty('dias')" class="d-inline-block pe-5">Dia:</p>
                <div class="d-inline-block">
                    <nav aria-label="Page navigation semanas">
                        <ul class="pagination">
                            <li class="page-item" [class.disabled]="currentSelected==0">
                                <div class="page-link cursor-default text-center" (click)="arrayTo(0)">&lt;&lt;</div>
                            </li>
                            <li class="page-item" [class.disabled]="currentSelected==0">
                                <div class="page-link cursor-default text-center" (click)="arrayTo(currentSelected-1)">&lt;</div>
                            </li>
                            <li *ngFor="let item of array; let i = index" class="page-item"
                                [class.d-none]="i<show.min || i > show.max">
                                <div class="page-link cursor-default text-center" [class.active]="i==currentSelected"
                                    (click)="arrayTo(i)">{{i+1}}</div>
                            </li>
                            <li class="page-item" [class.disabled]="currentSelected==array.length-1">
                                <div class="page-link cursor-default text-center" (click)="arrayTo(currentSelected+1)">&gt;</div>
                            </li>
                            <li class="page-item" [class.disabled]="currentSelected==array.length-1">
                                <div class="page-link cursor-default text-center" (click)="arrayTo(array.length-1)">&gt;&gt;</div>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <div *ngIf="currentItem != null" class="row">
        <div *ngIf="_dieta.hasOwnProperty('semanas')" class="col-12">
            <app-dietasemanas [dieta]="_dieta" [posicion]="currentSelected"></app-dietasemanas>
        </div>
        <div *ngIf="_dieta.hasOwnProperty('dias')" class="col-12">
            <app-dietadias [dieta]="_dieta" [posicion]="currentSelected" [dietaid]="_id"></app-dietadias>
        </div>
    </div>
</main>