<main class="container-fluid py-0 vh-100">
    <div class="row ">
        <div class="justify-content-center">
            <div class="align-self-center">
                <p class="text-center h1 pt-3 pt-lg-5 indie-flower regular text-primary text-uppercase ">
                    nos vamos a almerimar
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="message1.length>0" class="row">
        <div class="col col-span-1">
            <div class="align-self-center">
                <p class="bg-black bg-opacity-50 h1 indie-flower m-auto mt-5 p-2 regular text-uppercase text-white-50 time">
                    {{message1}}
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="message2.length>0" class="row">
        <div class="col col-span-1">
            <div class="align-self-center">
                <p class="bg-black bg-opacity-50 h1 indie-flower m-auto mt-5 p-2 regular text-uppercase text-white-50 time">
                    {{message2}}
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="message3.length>0" class="row">
        <div class="col col-span-1">
            <div class="align-self-center">
                <p class="bg-black bg-opacity-50 h1 indie-flower m-auto mt-5 p-2 regular text-uppercase text-white-50 time">
                    {{message3}}
                </p>
            </div>
        </div>
    </div>
</main>
<!-- <div class="imagen">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/42083889.jpg?k=3ec7a670c47e42b97363e41027abee0ddc63b22f854c7ea9d3af8dd1e3874e1d&o=&hp=1" alt="" class="img-fluid max-width">
</div> -->